.subheader-banner {
    background-image: url("../../assets/Header-Images/bannerbackground-blur.png");
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }